.imageContainer {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
}

.imageCard img {
  position: absolute;
}

.imageContent {
  display: flex;
  justify-content: center;
}

.content {
  font-family: 'Ubuntu', sans-serif;
}

.content h2 {
  color: #80cbc4;
}

.content strong {
  color: #e6ee9c;
}