.imageContainer {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
}

.imageCard img {
  position: absolute;
}

.imageContent {
  display: flex;
  justify-content: center;
}