.hero {
  padding-top: 2rem;
}

.image {
  text-align: center;
}

.image img {
  border-radius: 50%;
}

.links {
  text-align: center;
}

/* Comment window */

.window {
  /* background-color: rgba(20, 20, 20, 0.7); */
  background-color: rgba(40, 40, 40);
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: 4px solid white;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  /* font-family: 'VT323', monospace; */
  /* font-size: 25px; */
}

.windowOutside {
  background-color: rgba(20, 20, 20, 0.7);
  /* background-color: rgba(40, 40, 40); */
  border: 3px solid rgba(20, 20, 20, 0.7);
  /* border: 3px solid rgba(40, 40, 40); */
  border-radius: 4px;
  margin: 20px 0;
}

